@import url("../../main.css");
  .component-container {
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    align-items: center;
    background-color: var(--component-color);
    box-shadow: 0px 0px 10px 2px #aaa;
    flex-direction: column;
  }
  .sqr-img{
      display: flex;
  }
  .sqr-img img{
    width: 200px;
    height: 200px;
    margin: 0 1rem;
  }

  .circular-img{
    display: flex;
  }

  .circular-img img{
    width: 200px;
    height: 200px;
    margin: 0 1rem;
    border-radius: 50%;
  }

  .sizes-img{
    display: flex;
  }
  .sizes-img img{
    margin: 0 1rem;
  }

 .sm{
    width: 100px;
    height: 100px;
 }
 .md{
    width: 200px;
    height: 200px;
 }
 .lg{
    width: 300px;
    height: 300px;

 }
 .big-image{
    height: 90%;
    width: 90%;
 }
 