   
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toast</title>

    <link rel="stylesheet" href="./Grid.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css"
        integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <nav class="navbar">
        <!-- <span class="material-icons nav-icon">
            reorder
        </span> -->
        <h2>UFCComponentLibrary</h2>
        <ul class="ul-navbar">
            <li class="li-ul-navbar">Docs</li>
            <li class="li-ul-navbar">Examples</li>
            <li class="li-ul-navbar">Releases</li>
        </ul>
    </nav>
    <main class="homepage">
        <aside class="sidebar">
            <div class="list1">
                <ul class="list1-ul">
                    <li>
                        <h2 class="list-header">Get started</h2>
                    </li>
                    <li>Introduction</li>
                    <li>
                        <h2 class="list-header">Components</h2>
                    </li>
                    <li>Colors</li>
                    <li>Typography</li>
                    <li>Avatar</li>
                    <li>Alert</li>
                    <li>Badge</li>
                    <l1>Button</l1>
                    <l1>Card</l1>
                    <l1>Image</l1>
                    <l1>Input</l1>
                    <li>List</li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Rating</li>
                    <li>Toast</li>
                    <li class="select">Grid</li>
                </ul>
            </div>
        </aside>

        <div class="main-container">
            <div class="component-header">
                <h1>Grid</h1>
                <p>The grid creates visual consistency between layouts while allowing flexibility across a wide variety of designs.</p>
            </div>
  
          <!--Grid Layout-1-->

            <div class="component">
                <h2>Grid Layout-1</h2>
                <p>
                    This is a Grid layout-1 which you can use in your website.It is responsive by nature.
                </p>
                <div class="component-container">
                   <div class="grid">
                       <div class="grid-header">Header</div>
                       <div class="grid-aside">Aside-1</div>
                       <div class="grid-main">Main</div>
                       <div class="grid-aside2">Aside-2</div>
                       <div class="grid-footer">footer</div>
                   </div>
                </div>


                <pre class="html">
    <code >
//Grid Layout-1:

&lt;div class="grid">
&lt;div class="grid-header">Header&lt;/div>
&lt;div class="grid-aside">Aside-1&lt;/div>
&lt;div class="grid-main">Main&lt;/div>
&lt;div class="grid-aside2">Aside-2&lt;/div>
&lt;div class="grid-footer">footer&lt;/div>
</div>   
</code></pre>



          <!--Grid Layout-2-->

          <div class="component">
            <h2>Grid Layout-2</h2>
            <p>
                This is a Grid layout-2 which you can use in your website.It is responsive by nature.
            </p>
            <div class="component-container">
               <div class="grid-2">
                   <div class="grid-header">Header</div>
                   <div class="grid-aside">Navbar</div>
                   <div class="grid-main">Main</div>
                   <div class="grid-footer">footer</div>
               </div>
            </div>


            <pre class="html">
<code >
//Grid Layout-2:

&lt;div class="grid">
&lt;div class="grid-header">Header&lt;/div>
&lt;div class="grid-aside">Navbar&lt;/div>
&lt;div class="grid-main">Main&lt;/div>
&lt;div class="grid-footer">footer&lt;/div>
</div>   
</code></pre>


        

        






 


           


                

                



                </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
    <script src="./list.js"></script>
</body>

</html>
