@import url("../../main.css");
  .component-container {
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    align-items: center;
    background-color: var(--component-color);
    box-shadow: var(--box-shadow2);
    flex-direction: column;
  }

  .card{
           
    height: 10rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 6px;
    box-shadow: 0px 0px 5px 2px rgb(170 170 170 / 71%);
    background-color: #f1f5f9;
}
.uppercard{
    height: 76%;
   
    display: flex;
    position: relative;
    
}
.img{
    height: 100%;
     width: 34%;

}
img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    object-fit: contain;
     
}
.content{
    position: absolute;
    left: 37%;
    padding: 20px 0px;
}
.lowercard{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 24%;
    background-color: #f8fafc;
}
.lowercard a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: var(--primary-color);
}
.content h3{
    font-family: 'Montserrat', sans-serif;
}
.content p{
    font-family: 'Montserrat', sans-serif;
}


.card2{
           
    height: 20rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 0.5rem;
    background-color: #f1f5f9;
    box-shadow: 0px 0px 5px 2px rgb(170 170 170 / 71%);
    padding: 10px;
}
.img2{
    height: 56%;
}
.img2 img{
     height: 100%;
     width: 100%;
     object-fit: contain;
}
.content2{
    height: 44%;
    
    font-family: 'Montserrat', sans-serif;
    
}
.card2-height{
    height: 26rem;
}

/*  */
.card3 {
    height: 16rem;
    width: 20rem;
    margin: 2rem;
    border-radius: 0.5rem;
    padding: 12px;
    box-shadow: 0px 0px 5px 2px rgb(170 170 170 / 71%);
    background-color: #f1f5f9;
  }
  .content3{
    height: 80%;
  }
  .lowercard3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 24%;
    background-color: #f8fafc;
}
.lowercard3 a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #dc2626;
}
.content3 h3{
    font-family: 'Montserrat', sans-serif;
}
.content3 p{
    font-family: 'Montserrat', sans-serif;
}

.curved{
    border-bottom-right-radius: 3rem;
}

#fonticon{
  margin: 0rem;
  font-size: 1rem;
}