
@import url("../../main.css");
.component-container {
  display: flex;
  justify-content: space-evenly;
  height: 15rem;
  align-items: center;
  background-color: var(--component-color);
  box-shadow: var(--box-shadow2);
  flex-direction: column;
  
}



.btn {
  padding: 0.5rem 1rem;
  margin:0 1rem;
  cursor: pointer;
  margin: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-secondary {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}
.btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-warning {
  color: #fff;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-info {
  color: #fff;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

.outlined-primary {
  color: #0d6efd;
  border: 1px solid #0d6efd;
}
.outlined-secondary {
  color: #212529;
  border: 1px solid #212529;
}
.outlined-success {
  color: #198754;
  border: 1px solid #198754;
}
.outlined-danger {
  color: #dc3545;
  border: 1px solid #dc3545;
}
.outlined-warning {
  color: #ffc107;
  border: 1px solid #ffc107;
}
.outlined-info {
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
}
a{
    text-decoration: none;
}
.sm{
    padding: 0.5rem;
}
.md{
    padding: 1rem;
}
.lg{
    padding: 2rem;
}