<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <link rel="stylesheet" href="./homepage.css" />
    <link rel="stylesheet" href="./Avatar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <h2>UFCComponentLibrary</h2>
      <ul class="ul-navbar">
        <li class="li-ul-navbar">Docs</li>
        <li class="li-ul-navbar">Examples</li>
        <li class="li-ul-navbar">Releases</li>
      </ul>
    </nav>
    <main class="homepage">
      <aside class="sidebar">
        <div class="list1">
          <ul class="list1-ul">
            <li><h2 class="list-header">Get started</h2></li>
            <li>Introduction</li>
            <li>Colors</li>
            <li>Typography</li>
            <li>Conclusion</li>
            <li><h2 class="list-header">Components</h2></li>
            <li>Avatar</li>
            <li>Alert</li>
            <li>Badge</li>
            <l1>Button</l1>
            <l1>Card</l1>
            <l1>Image</l1>
            <l1>Input</l1>
          </ul>
        </div>
      </aside>

      <div class="main-container">
        <div class="avatar-header">
          <h1>Avatar</h1>
          <p>
            Avatars are found throughout websites with uses in everything from
            tables to dialog menus.
          </p>
        </div>

        <!-- Image Avatar -->

        <div class="avatar-image-component">
          <h2>Image Avatar</h2>
          <p>
            Image avatars can be created by passing following classes.
          </p>
          <div class="img-avatars">
            <img
              class="img-avatar"
              src="../../images/conor.jpg"
              alt="loading"
            />
            <img
              class="img-avatar"
              src="../../images/Khabib.jpg"
              alt="loading"
            />
            <img class="img-avatar" src="../../images/Gsp.jpeg" alt="loading" />
          </div>
        </div>

        <pre class="html">
        <code class="code">
&lt;img class="img-avatar" src="../../images/conor.jpg" alt="loading"&gt;
&lt;img class="img-avatar" src="../../images/Khabib.jpg" alt="loading"&gt;
&lt;img class="img-avatar" src="../../images/Gsp.jpeg" alt="loading"&gt;
        </code></pre>
        <!-- Image Sizes Avatar -->
        <div class="avatar-image-component">
          <h2>Image Sizes Avatar</h2>
          <p>
            Avatars can be of different sizes by using different kind of classes
            like "lg","md","sm" for large,medium,small avatars repectively.
          </p>
          <div class="img-avatars">
            <img
              class="img-avatar lg"
              src="../../images/conor.jpg"
              alt="loading"
            />
            <img
              class="img-avatar md"
              src="../../images/Khabib.jpg"
              alt="loading"
            />
            <img
              class="img-avatar sm"
              src="../../images/Gsp.jpeg"
              alt="loading"
            />
          </div>
        </div>

        <pre class="html">
          <code class="code">
&lt;img class="img-avatar lg" src="../../images/conor.jpg" alt="loading"&gt;
&lt;img class="img-avatar md" src="../../images/Khabib.jpg" alt="loading"&gt;
&lt;img class="img-avatar sm" src="../../images/Gsp.jpeg" alt="loading"&gt;
          </code></pre>

        <!-- Image Square component -->
        <div class="avatar-image-component">
          <h2>Image Square Avatar</h2>
          <p>
            Image square avatars can be created by passing the following class
            "sqr".
          </p>
          <div class="img-avatars">
            <img
              class="img-avatar lg sqr"
              src="../../images/conor.jpg"
              alt="loading"
            />
            <img
              class="img-avatar md sqr"
              src="../../images/Khabib.jpg"
              alt="loading"
            />
            <img
              class="img-avatar sm sqr"
              src="../../images/Gsp.jpeg"
              alt="loading"
            />
          </div>
        </div>

        <pre class="html">
          <code class="code">
&lt;img class="img-avatar lg sqr" src="../../images/conor.jpg" alt="loading"&gt;
&lt;img class="img-avatar md sqr" src="../../images/Khabib.jpg" alt="loading"&gt;
&lt;img class="img-avatar sm sqr" src="../../images/Gsp.jpeg" alt="loading"&gt;
          </code></pre>
      </div>
    </main>
  </body>
</html>
