*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
:root{
    --primary-color:#FF3B30;
    --secondary-color:white;
    --primary-font-family:'Montserrat', sans-serif;
}
body{
    font-family: var(--primary-font-family)
}
.navbar{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    padding: 2rem;
    height: 14vh;
    
}
.ul-navbar{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 30%;
    justify-content: space-evenly;
}
.ul-navbar>*{
    cursor: pointer;
}
.sidebar{
    width: 30%;
    padding: 2rem;
    height: 86vh;
}   
.list1{
    height: 100%;
}
.list1-ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}
.list-header{
    margin: 0.5rem 0;
}
/* .list1-ul li {
    margin: 0.3rem 0;
} */
