<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation</title>

    <link rel="stylesheet" href="./Navigation.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css"
        integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
    />


</head>

<body>
    <nav class="navbar">
        <!-- <span class="material-icons nav-icon">
            reorder
        </span> -->
        <h2>UFCComponentLibrary</h2>
        <ul class="ul-navbar">
            <li class="li-ul-navbar">Docs</li>
            <li class="li-ul-navbar">Examples</li>
            <li class="li-ul-navbar">Releases</li>
        </ul>
    </nav>
    <main class="homepage">
        <aside class="sidebar">
            <div class="list1">
                <ul class="list1-ul">
                    <li>
                        <h2 class="list-header">Get started</h2>
                    </li>
                    <li>Introduction</li>
                    <li>
                        <h2 class="list-header">Components</h2>
                    </li>
                    <li>Colors</li>
                    <li>Typography</li>
                    <li>Avatar</li>
                    <li>Alert</li>
                    <li>Badge</li>
                    <l1>Button</l1>
                    <l1>Card</l1>
                    <l1>Image</l1>
                    <l1>Input</l1>
                    <li>List</li>
                    <li class="select">Navigation</li>
                </ul>
            </div>
        </aside>

        <div class="main-container">
            <div class="component-header">
                <h1>Navigation Bar</h1>
                <p>
                    A navigation bar (or navigation system) is a section of a graphical user interface intended to aid visitors in accessing information. Navigation bars are implemented in file browsers, web browsers and as a design element of some web sites.
                </p>
            </div>

            <!--Standard Navigation Bar-->

            <div class="component">
                <h2>Standard Navigation Bar</h2>
                <p>
                    This is a standard Navigation Bar which you can use in your website.
                </p>
                <div class="component-container">
                    <div class="nav-container">
                        <nav class="nav-header">
                          <ul>
                            <li><i class="fas fa-bars"></i></li>
                            <li class="tag"><h1>UFC</h1></li>
                          </ul>
                          <ul>
                            <li><i class="fas fa-download"></i></li>
                            <li><i class="fas fa-print"></i></li>
                            <li><i class="fas fa-users"></i></li>
                          </ul>
                        </nav>
                        <p class="nav-p">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
                          neque veritatis ullam quam dicta ad, inventore alias exercitationem
                          ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
                          odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
                          sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
                          veniam accusantium quod dignissimos fugit voluptate perferendis, quos
                          ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
                          nemo iure repellat sint in, sed maiores repudiandae inventore
                          reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
                          Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet
                          consectetur nostrum ullam fuga itaque, odio maiores amet, provident ex
                          quaerat quis deleniti recusandae officia laborum, inventore cupiditate
                          vitae aliquid totam esse. Quod, consequatur? Iusto natus omnis error
                          temporibus sed sit eaque eius beatae amet dolor, nam inventore ducimus
                          tempora animi. Quo, exercitationem dolorem numquam necessitatibus
                          molestias, ad fugiat repudiandae eos, perspiciatis perferendis commodi!
                          Repudiandae saepe autem aliquid velit debitis aut labore, vel in
                          nesciunt quam eum libero repellendus quisquam aspernatur. Eveniet
                          suscipit beatae non laboriosam sequi facere maiores. Maiores at
                          assumenda velit reiciendis! Delectus sint, iste quidem dolores dolorum
                          quae asperiores itaque maxime vel obcaecati ratione velit? Dignissimos
                          deserunt dolores, sit, iste suscipit iusto cumque maiores ratione
                          adipisci ea, voluptate impedit est et. Quae, libero? Consequatur nobis
                          ipsa magnam dolore aspernatur dolor. At laboriosam distinctio quas,
                          culpa dolores asperiores consectetur ratione quasi ea accusamus
                          recusandae et esse debitis alias dignissimos a. Laboriosam, saepe!
                          Temporibus, inventore velit qui fugit omnis ducimus magni excepturi
                          doloribus. Adipisci quidem eveniet suscipit, id animi ipsa perspiciatis
                          et veniam consectetur voluptates laboriosam atque maiores? Molestias,
                          aut. Dignissimos, tenetur quo? Ea ex, unde temporibus optio amet
                          delectus tenetur vitae fugit veritatis autem inventore debitis placeat
                          nam, sit incidunt accusamus. Quasi reprehenderit illum sunt, repellendus
                          accusamus veniam nihil doloremque eaque facilis. Tempora quibusdam ipsum
                          optio eligendi veniam recusandae officia reprehenderit, eveniet
                          voluptatem tenetur necessitatibus labore, eum nobis? Provident ratione
                          culpa commodi minus amet velit ad blanditiis error inventore voluptates!
                          Amet, inventore! Sint vitae sed maiores repellat, ipsum cum. Voluptas id
                          veniam earum necessitatibus reiciendis nam dolorum expedita. Doloribus,
                          dolores quidem tempore necessitatibus error ut illo amet facilis,
                          aperiam dolorum deleniti est. Atque, delectus autem neque mollitia, sint
                          porro facere sequi fugit a error aut. Consequuntur, aperiam dignissimos!
                          Reiciendis labore minus voluptas, laboriosam provident neque odit sint
                          nulla nihil adipisci repellendus molestiae. Voluptatem, saepe numquam
                          perspiciatis voluptatibus magnam soluta! Illum beatae ipsum quas a
                          laboriosam repellendus quod soluta cumque commodi reprehenderit
                          molestias alias, ipsam enim architecto quis incidunt neque, esse debitis
                          iure. A omnis dolor optio explicabo inventore possimus cumque iusto sed
                          voluptates? Expedita velit nostrum laborum ducimus optio incidunt
                          tempore iusto sit ex atque architecto possimus pariatur, ipsam cumque
                          labore accusantium?
                        </p>
                      </div>
                  

                </div>


                <pre class="html">
    <code >
//Standard Navigation bar:

&lt;div class="nav-container">
&lt;nav class="nav-header">
&lt;ul>
&lt;li>&lt;i class="fas fa-bars">&lt;/i&lt;/li>
&lt;li class="tag">&lt;h1>UFC&lt;/h1>&lt;/li>
&lt;/ul>
&lt;ul>
&lt;li>&lt;i class="fas fa-download">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-print">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-users">&lt;/i>&lt;/li>
&lt;/ul>
&lt;/nav>
&lt;p class="nav-p">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
neque veritatis ullam quam dicta ad, inventore alias exercitationem
ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
veniam accusantium quod dignissimos fugit voluptate perferendis, quos...
&lt;/p>
&lt;/div>       
</code></pre>

<!--Fixed Navigation bar-->

<div class="component">
    <h2>Fixed Navigation Bar</h2>
    <p>
        This is a Fixed Navigation Bar which you can use in your website.
    </p>
    <div class="component-container">
        <div class="nav-container2">
            <nav class="nav-header">
              <ul>
                <li><i class="fas fa-bars"></i></li>
                <li class="tag"><h1>UFC</h1></li>
              </ul>
              <ul>
                <li><i class="fas fa-download"></i></li>
                <li><i class="fas fa-print"></i></li>
                <li><i class="fas fa-users"></i></li>
              </ul>
            </nav>
            <p class="nav-p2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
              neque veritatis ullam quam dicta ad, inventore alias exercitationem
              ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
              odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
              sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
              veniam accusantium quod dignissimos fugit voluptate perferendis, quos
              ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
              nemo iure repellat sint in, sed maiores repudiandae inventore
              reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
              Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet
              consectetur nostrum ullam fuga itaque, odio maiores amet, provident ex
              quaerat quis deleniti recusandae officia laborum, inventore cupiditate
              vitae aliquid totam esse. Quod, consequatur? Iusto natus omnis error
              temporibus sed sit eaque eius beatae amet dolor, nam inventore ducimus
              tempora animi. Quo, exercitationem dolorem numquam necessitatibus
              molestias, ad fugiat repudiandae eos, perspiciatis perferendis commodi!
              Repudiandae saepe autem aliquid velit debitis aut labore, vel in
              nesciunt quam eum libero repellendus quisquam aspernatur. Eveniet
              suscipit beatae non laboriosam sequi facere maiores. Maiores at
              assumenda velit reiciendis! Delectus sint, iste quidem dolores dolorum
              quae asperiores itaque maxime vel obcaecati ratione velit? Dignissimos
              deserunt dolores, sit, iste suscipit iusto cumque maiores ratione
              adipisci ea, voluptate impedit est et. Quae, libero? Consequatur nobis
              ipsa magnam dolore aspernatur dolor. At laboriosam distinctio quas,
              culpa dolores asperiores consectetur ratione quasi ea accusamus
              recusandae et esse debitis alias dignissimos a. Laboriosam, saepe!
              Temporibus, inventore velit qui fugit omnis ducimus magni excepturi
              doloribus. Adipisci quidem eveniet suscipit, id animi ipsa perspiciatis
              et veniam consectetur voluptates laboriosam atque maiores? Molestias,
              aut. Dignissimos, tenetur quo? Ea ex, unde temporibus optio amet
              delectus tenetur vitae fugit veritatis autem inventore debitis placeat
              nam, sit incidunt accusamus. Quasi reprehenderit illum sunt, repellendus
              accusamus veniam nihil doloremque eaque facilis. Tempora quibusdam ipsum
              optio eligendi veniam recusandae officia reprehenderit, eveniet
              voluptatem tenetur necessitatibus labore, eum nobis? Provident ratione
              culpa commodi minus amet velit ad blanditiis error inventore voluptates!
              Amet, inventore! Sint vitae sed maiores repellat, ipsum cum. Voluptas id
              veniam earum necessitatibus reiciendis nam dolorum expedita. Doloribus,
              dolores quidem tempore necessitatibus error ut illo amet facilis,
              aperiam dolorum deleniti est. Atque, delectus autem neque mollitia, sint
              porro facere sequi fugit a error aut. Consequuntur, aperiam dignissimos!
              Reiciendis labore minus voluptas, laboriosam provident neque odit sint
              nulla nihil adipisci repellendus molestiae. Voluptatem, saepe numquam
              perspiciatis voluptatibus magnam soluta! Illum beatae ipsum quas a
              laboriosam repellendus quod soluta cumque commodi reprehenderit
              molestias alias, ipsam enim architecto quis incidunt neque, esse debitis
              iure. A omnis dolor optio explicabo inventore possimus cumque iusto sed
              voluptates? Expedita velit nostrum laborum ducimus optio incidunt
              tempore iusto sit ex atque architecto possimus pariatur, ipsam cumque
              labore accusantium?
            </p>
          </div>
      

    </div>


    <pre class="html">
<code >
//Fixed navigation Bar:

&lt;div class="nav-container2">
&lt;nav class="nav-header">
&lt;ul>
&lt;li>&lt;i class="fas fa-bars">&lt;/i>&lt;/li>
&lt;li class="tag"><h1>UFC</h1></li>
&lt;/ul>
&lt;ul>
&lt;li>&lt;i class="fas fa-download">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-print">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-users">&lt;/i>&lt;/li>
&lt;/ul>
&lt;/nav>
&lt;p class="nav-p2">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
neque veritatis ullam quam dicta ad, inventore alias exercitationem
ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
veniam accusantium quod dignissimos fugit voluptate perferendis, quos
ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
nemo iure repellat sint in, sed maiores repudiandae inventore
reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!...
&lt;/p>
&lt;/div>     
</code></pre> -->


<!--Prominent Navigation Bar-->

<div class="component">
    <h2>Prominent Navigation Bar</h2>
    <p>
        This is a prominent Navigation Bar which you can use in your website.
    </p>
    <div class="component-container">
        <div class="nav-container">
            <nav class="nav-header prominent">
              <ul>
                <li><i class="fas fa-bars"></i></li>
                <li class="tag"><h1>UFC</h1></li>
              </ul>
              <ul>
                <li><i class="fas fa-download"></i></li>
                <li><i class="fas fa-print"></i></li>
                <li><i class="fas fa-users"></i></li>
              </ul>
            </nav>
            <p class="nav-p">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
              neque veritatis ullam quam dicta ad, inventore alias exercitationem
              ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
              odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
              sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
              veniam accusantium quod dignissimos fugit voluptate perferendis, quos
              ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
              nemo iure repellat sint in, sed maiores repudiandae inventore
              reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
              Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet
              consectetur nostrum ullam fuga itaque, odio maiores amet, provident ex
              quaerat quis deleniti recusandae officia laborum, inventore cupiditate
              vitae aliquid totam esse. Quod, consequatur? Iusto natus omnis error
            </p>
          </div>
    </div>

<pre class="html">
<code>
//prominent Navigation Bar  

&lt;div class="component-container">
&lt;div class="nav-container">
&lt;nav class="nav-header prominent">
&lt;ul>
&lt;li>&lt;i class="fas fa-bars">&lt;/i>&lt;/li>
&lt;li class="tag">&lt;h1>UFC&lt;/h1>&lt;/li>
&lt;/ul>
&lt;ul>
&lt;li>&lt;i class="fas fa-download">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-print">&lt;/i>&lt;/li>
&lt;li>&lt;i class="fas fa-users">&lt;/i>&lt;/li>
&lt;/ul>
&lt;/nav>
&lt;p class="nav-p">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
neque veritatis ullam quam dicta ad, inventore alias exercitationem
ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
veniam accusantium quod dignissimos fugit voluptate perferendis, quos
ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
nemo iure repellat sint in, sed maiores repudiandae inventore
reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet
consectetur nostrum ullam fuga itaque, odio maiores amet, provident ex
quaerat quis deleniti recusandae officia laborum, inventore cupiditate
vitae aliquid totam esse. Quod, consequatur? Iusto natus omnis error...
&lt;/p>
&lt;/div>
    </code>
</pre>


 

    <!--Short Navigation Bar  -->
    <div class="component">
        <h2>Short Navigation Bar</h2>
        <p>
            This is a short Navigation Bar which you can use in your website.
        </p>
        <div class="component-container">
            <div class="nav-container2">
                <nav class="nav-header short-nav">
                  <ul>
                    <li><i class="fas fa-bars"></i></li>
                    <li class="tag"><h1>UFC</h1></li>
                  </ul>
                 
                </nav>
                <p class="nav-p2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
                  neque veritatis ullam quam dicta ad, inventore alias exercitationem
                  ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
                  odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
                  sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
                  veniam accusantium quod dignissimos fugit voluptate perferendis, quos
                  ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
                  nemo iure repellat sint in, sed maiores repudiandae inventore
                  reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
                  Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet
                  consectetur nostrum ullam fuga itaque, odio maiores amet, provident ex
                  quaerat quis deleniti recusandae officia laborum, inventore cupiditate
                  vitae aliquid totam esse. Quod, consequatur? Iusto natus omnis error
                  temporibus sed sit eaque eius beatae amet dolor, nam inventore ducimus
                  tempora animi. Quo, exercitationem dolorem numquam necessitatibus
                  molestias, ad fugiat repudiandae eos, perspiciatis perferendis commodi!
                  Repudiandae saepe autem aliquid velit debitis aut labore, vel in
                  nesciunt quam eum libero repellendus quisquam aspernatur. Eveniet
                  suscipit beatae non laboriosam sequi facere maiores. Maiores at
                  assumenda velit reiciendis! Delectus sint, iste quidem dolores dolorum
                  quae asperiores itaque maxime vel obcaecati ratione velit? Dignissimos
                  deserunt dolores, sit, iste suscipit iusto cumque maiores ratione
                  adipisci ea, voluptate impedit est et. Quae, libero? Consequatur nobis
                  ipsa magnam dolore aspernatur dolor. At laboriosam distinctio quas,
                  culpa dolores asperiores consectetur ratione quasi ea accusamus
                  recusandae et esse debitis alias dignissimos a. Laboriosam, saepe!
                  Temporibus, inventore velit qui fugit omnis ducimus magni excepturi
                  doloribus. Adipisci quidem eveniet suscipit, id animi ipsa perspiciatis
                  et veniam consectetur voluptates laboriosam atque maiores? Molestias,
                  aut. Dignissimos, tenetur quo? Ea ex, unde temporibus optio amet
                  delectus tenetur vitae fugit veritatis autem inventore debitis placeat
                  nam, sit incidunt accusamus. Quasi reprehenderit illum sunt, repellendus
                  accusamus veniam nihil doloremque eaque facilis. Tempora quibusdam ipsum
                  optio eligendi veniam recusandae officia reprehenderit, eveniet
                  voluptatem tenetur necessitatibus labore, eum nobis? Provident ratione
                  culpa commodi minus amet velit ad blanditiis error inventore voluptates!
                  Amet, inventore! Sint vitae sed maiores repellat, ipsum cum. Voluptas id
                  veniam earum necessitatibus reiciendis nam dolorum expedita. Doloribus,
                  dolores quidem tempore necessitatibus error ut illo amet facilis,
                  aperiam dolorum deleniti est. Atque, delectus autem neque mollitia, sint
                  porro facere sequi fugit a error aut. Consequuntur, aperiam dignissimos!
                  Reiciendis labore minus voluptas, laboriosam provident neque odit sint
                  nulla nihil adipisci repellendus molestiae. Voluptatem, saepe numquam
                  perspiciatis voluptatibus magnam soluta! Illum beatae ipsum quas a
                  laboriosam repellendus quod soluta cumque commodi reprehenderit
                  molestias alias, ipsam enim architecto quis incidunt neque, esse debitis
                  iure. A omnis dolor optio explicabo inventore possimus cumque iusto sed
                  voluptates? Expedita velit nostrum laborum ducimus optio incidunt
                  tempore iusto sit ex atque architecto possimus pariatur, ipsam cumque
                  labore accusantium?
                </p>
              </div>
          
    
        </div>

 <pre class="html">
<code>
//Short Navigation Bar

&lt;div class="nav-container2">
&lt;nav class="nav-header short-nav">
&lt;ul>
&lt;li>&lt;i class="fas fa-bars">&lt;/i>&lt;/li>
&lt;li class="tag">&lt;h1>UFC&lt;/h1>&lt;/li>
&lt;/ul>
        
&lt;/nav>
&lt;p class="nav-p2">
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque sunt
neque veritatis ullam quam dicta ad, inventore alias exercitationem
ratione quo iste consequuntur. Vitae modi ad obcaecati tempora quia
odio! Dolorum obcaecati tempora quasi nemo, cum a asperiores laborum
sapiente ut optio molestias vero inventore harum. Molestiae aut dolor
veniam accusantium quod dignissimos fugit voluptate perferendis, quos
ipsa aspernatur sit. Voluptate ipsum voluptatem neque sit facilis nulla,
nemo iure repellat sint in, sed maiores repudiandae inventore
reprehenderit vitae obcaecati id debitis deleniti illo, magni commodi!
Eaque esse saepe vel amet! Magnam voluptas ipsa alias placeat eveniet...
&lt;/p>
&lt;/div>    

    
</code>
 </pre>       




                </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
</body>

</html>