* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  :root {
    --primary-color: #ff3b30;
    --secondary-color: white;
    --primary-font-family: "Montserrat", sans-serif;
    --component-color: #f3f4f6;
    --code-color: #1f2937;
  }
  body {
    font-family: var(--primary-font-family);
  }
  .navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    padding: 2rem;
    height: 14vh;
    align-items: center;
  }
  .ul-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40%;
    justify-content: space-evenly;
  }
  .ul-navbar > * {
    cursor: pointer;
  }
  .homepage {
    display: flex;
  }
  .sidebar {
    width: 20%;
    padding: 2rem;
    height: 86vh;
  }
  .list1 {
    height: 100%;
  }
  .list1-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .list1-ul > * {
    cursor: pointer;
  }
  .list-header {
    margin: 0.5rem 0;
  }
  .main-container {
    padding: 2rem;
  }
  .component-header > * {
    margin: 0.5rem 0;
  }
  
  .component > * {
    margin: 1.5rem 0;
  }
  .component-container {
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    align-items: center;
    background-color: var(--component-color);
    box-shadow: 0px 0px 10px 2px #aaa;
    flex-direction: column;
  }
  .html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--code-color);
    box-shadow: 0px 0px 10px 2px var(--code-color);
    color: var(--secondary-color);
    padding: 2rem;
  }
  

  .homepage{
      font-size: 85%;
  } 
  
  .select {
    color: var(--primary-color);
  }
  
  /* Basic Navbar */
  .nav-header {
    /* margin: 2rem 3rem; */
 padding: 1rem;
 display: flex;
 flex-wrap: wrap;
 background-color: var(--primary-color);
 height: 3rem;
 justify-content: space-between;
 color: var(--secondary-color);
}
li {
 list-style: none;
}
.tag {
 position: relative;
 top: -4px;
}
.nav-header ul {
 display: flex;
 gap: 1rem;
}
.nav-p{
 margin: 3rem 0rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 position: relative;
 top: -3rem;
}
.nav-container{
 width: 48vw;
 height: 36vh;
 overflow: auto;
 margin: auto;
}
.nav-header ul>*{
   cursor: pointer;
}


/* fixed Navigation Bar */
.nav-container2{
    width: 48vw;
    height: 36vh;
    margin: auto;
}
.nav-p2{
    margin: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -3rem;
    height: 80%;
    overflow: auto;
}
/* prominent Navigation Bar */

.prominent{
    height: 8rem;
}
/* Short Navigation Bar */
.short-nav{
    width: 26%;
    border-bottom-right-radius: 20px;
}

