
@import url("../../main.css");
  .component-container {
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    align-items: center;
    background-color: var(--component-color);
    box-shadow: 0px 0px 10px 2px #aaa;
    flex-direction: column;
  }
  
  
  /* Basic Navbar */
  .nav-header {
    /* margin: 2rem 3rem; */
 padding: 1rem;
 display: flex;
 flex-wrap: wrap;
 background-color: var(--primary-color);
 height: 3rem;
 justify-content: space-between;
 color: var(--secondary-color);
}
li {
 list-style: none;
}
.tag {
 position: relative;
 top: -4px;
}
.nav-header ul {
 display: flex;
 gap: 1rem;
}
.nav-p{
 margin: 3rem 0rem;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 position: relative;
 top: -3rem;
}
.nav-container{
 width: 48vw;
 height: 36vh;
 overflow: auto;
 margin: auto;
}
.nav-header ul>*{
   cursor: pointer;
}


/* fixed Navigation Bar */
.nav-container2{
    width: 48vw;
    height: 36vh;
    margin: auto;
}
.nav-p2{
    margin: 3rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: -3rem;
    height: 80%;
    overflow: auto;
}
/* prominent Navigation Bar */

.prominent{
    height: 8rem;
}
/* Short Navigation Bar */
.short-nav{
    width: 26%;
    border-bottom-right-radius: 20px;
}

