   
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drawer</title>

    <link rel="stylesheet" href="./Drawer.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css"
        integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <nav class="navbar">
        <!-- <span class="material-icons nav-icon">
            reorder
        </span> -->
        <h2>UFCComponentLibrary</h2>
        <ul class="ul-navbar">
            <li class="li-ul-navbar">Docs</li>
            <li class="li-ul-navbar">Examples</li>
            <li class="li-ul-navbar">Releases</li>
        </ul>
    </nav>
    <main class="homepage">
        <aside class="sidebar">
            <div class="list1">
                <ul class="list1-ul">
                    <li>
                        <h2 class="list-header">Get started</h2>
                    </li>
                    <li>Introduction</li>
                    <li>
                        <h2 class="list-header">Components</h2>
                    </li>
                    <li>Colors</li>
                    <li>Typography</li>
                    <li>Avatar</li>
                    <li>Alert</li>
                    <li>Badge</li>
                    <l1>Button</l1>
                    <l1>Card</l1>
                    <l1>Image</l1>
                    <l1>Input</l1>
                    <li>List</li>
                    <li>Navigation</li>
                    <li>Modal</li>
                    <li>Rating</li>
                    <li>Toast</li>
                    <li >Grid</li>
                    <li>Slider</li>
                    <li class="select">Drawer</li>
                </ul>
            </div>
        </aside>

        <div class="main-container">
            <div class="component-header">
                <h1>Drawer</h1>
                <p>Navigation drawers provide access to destinations in your app. Side sheets are surfaces containing supplementary content that are anchored to the left or right edge of the screen.</p>
            </div>
  
     

<!-- Action Drawer -->

          <div class="component">
            <h2>Action Drawer</h2>
            <p>
               When you click on the List icon , navigation Drawer appears and vice versa.
            </p>
            <div class="component-container">
                <div class="drawer">
                    <aside class="aside-drawer">
                      <div class="mail-heading">
                        <h2>UFC Mail</h2>
                        <p>UFC@gmail.com</p>
                      </div>
                      <nav class="nav-drawer">
                        <a class="sel" href="#"><i class="fas fa-inbox"></i>Inbox</a>
                        <a href="#"><i class="fas fa-inbox"></i>Star</a>
                        <a href="#"><i class="fas fa-paper-plane"></i>Sent</a>
                        <a href="#"><i class="fas fa-envelope-open"></i>Drafts</a>
                        <br />
                        <p>Labels</p>
                        <a href="#"><i class="fas fa-users"></i>Family</a>
                        <a href="#"><i class="fas fa-users"></i>Friends</a>
                      </nav>
                    </aside>
                    <main class="main-drawer">
                      <header class="header-drawer">
                        <h1><i class="fas fa-bars navopen"></i>UFC MAIL</h1>
                      </header>
                      <section>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo
                        provident, ad esse recusandae, minus repellendus quia iste suscipit
                        cumque est. Nobis ullam deserunt deleniti facilis obcaecati? Ducimus,
                        nobis pariatur! Culpa iusto, recusandae enim repudiandae eum aliquid?
                        Ut, voluptatibus eveniet eos neque aliquam, nulla molestiae velit
                        numquam repellendus fugit commodi nemo assumenda laudantium
                        consequuntur perferendis. Eos voluptatem nesciunt a ut. Magni esse
                        obcaecati qui. Harum laborum, quidem culpa dolor nisi a in enim quos
                        nemo accusamus nihil voluptatem? Necessitatibus animi, reiciendis
                        error optio soluta eum est impedit rem nulla eaque. Ab ullam repellat
                        distinctio voluptate reprehenderit, sint, aliquam neque assumenda ipsa
                        dolorum tempora, odio voluptatem consequatur quae iure! Saepe cumque
                        est eaque assumenda veniam deserunt iusto incidunt impedit! Quidem,
                        omnis? Illo, consectetur harum impedit, libero dolorum facere ipsa
                        quia neque possimus commodi necessitatibus, reiciendis tempora.
                        Impedit consectetur tempora voluptas est maiores temporibus totam
                        adipisci modi, debitis ea tempore velit! Doloribus. Aut ea harum atque
                        et maiores optio expedita quam consectetur dicta doloribus! Laborum
                        enim omnis dicta accusamus, iste inventore odit tempora, nostrum
                        maiores consequuntur alias, consequatur praesentium odio facilis quia?
                        Doloremque quam corporis natus fugit error at deleniti architecto rem,
                        itaque voluptates numquam alias velit quo a cumque! Totam laborum,
                        tenetur necessitatibus error amet repellendus quam sunt id debitis
                        vel. Nemo sequi earum qui hic at culpa necessitatibus quisquam,
                        aliquam tempore porro! Saepe, quo odit harum numquam eveniet fugit
                        possimus quisquam laborum, labore esse, culpa error. Iusto dolore
                        natus vitae? Aperiam corrupti cum corporis facere voluptatibus,
                        dolore, beatae atque qui placeat unde ullam exercitationem quia
                        impedit, voluptas dolorum blanditiis quae! Quod dolor maiores minima
                        illum error consequatur vel fugiat hic! Aut ducimus quaerat similique
                        maiores pariatur omnis expedita doloremque possimus explicabo fuga
                        officiis culpa, quae optio veritatis iusto consequatur! Adipisci
                        similique hic porro, deleniti inventore totam facilis cupiditate
                        numquam natus. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Ea, commodi voluptatem. Porro possimus facilis, adipisci esse
                        dolor maxime, amet eius perferendis debitis doloribus molestiae
                        incidunt! Deleniti, ad odit? Nulla, placeat!
                      </section>
                    </main>
                </div>    
            </div>


            <pre class="html">
<code >
//Basic Drawer:

&lt;div class="drawer">
&lt;aside class="aside-drawer">
&lt;div class="mail-heading">
&lt;h2>UFC Mail&lt;/h2>
&lt;p>UFC@gmail.com&lt;/p>
&lt;/div>
&lt;nav class="nav-drawer">
&lt;a class="sel" href="#">&lt;i class="fas fa-inbox">&lt;/i>Inbox&lt;/a>
&lt;a href="#">&lt;i class="fas fa-inbox">&lt;/i>Star&lt;/a>
&lt;a href="#">&lt;i class="fas fa-paper-plane">&lt;/i>Sent&lt;/a>
&lt;a href="#">&lt;i class="fas fa-envelope-open">&lt;/i>Drafts&lt;/a>
&lt;br />
&lt;p>Labels&lt;/p>
&lt;a href="#">&lt;i class="fas fa-users">&lt;/i>Family&lt;/a>
&lt;a href="#">&lt;i class="fas fa-users">&lt;/i>Friends&lt;/a>
&lt;/nav>
&lt;/aside>
&lt;main class="main-drawer">
&lt;header class="header-drawer">
&lt;h1>&lt;i class="fas fa-bars navopen">&lt;/i>UFC MAIL&lt;/h1>
&lt;/header>
&lt;section>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo
    provident, ad esse recusandae, minus repellendus quia iste suscipit
    cumque est. Nobis ullam deserunt deleniti facilis obcaecati? Ducimus,
    nobis pariatur! Culpa iusto, recusandae enim repudiandae eum aliquid?
    Ut, voluptatibus eveniet eos neque aliquam, nulla molestiae velit
    numquam repellendus fugit commodi nemo assumenda laudantium
    consequuntur perferendis. Eos voluptatem nesciunt a ut. Magni esse
    obcaecati qui. Harum laborum, quidem culpa dolor nisi a in enim quos
    nemo accusamus nihil voluptatem? Necessitatibus animi, reiciendis
    error optio soluta eum est impedit rem nulla eaque. Ab ullam repellat
    distinctio voluptate reprehenderit, sint, aliquam neque assumenda ipsa
    dolorum tempora, odio voluptatem consequatur quae iure! Saepe cumque
&lt;/section>
&lt;/main>
&lt;/div>    
</div>   
</code></pre>

     <!--Basic Drawer-->

     <div class="component">
        <h2>Basic Drawer</h2>
        <p>
          This is basic Drawer.
        </p>
        <div class="component-container">
            <div class="drawer">
                <aside class="aside-drawer">
                  <div class="mail-heading">
                    <h2>UFC Mail</h2>
                    <p>UFC@gmail.com</p>
                  </div>
                  <nav class="nav-drawer">
                    <a class="sel" href="#"><i class="fas fa-inbox"></i>Inbox</a>
                    <a href="#"><i class="fas fa-inbox"></i>Star</a>
                    <a href="#"><i class="fas fa-paper-plane"></i>Sent</a>
                    <a href="#"><i class="fas fa-envelope-open"></i>Drafts</a>
                    <br />
                    <p>Labels</p>
                    <a href="#"><i class="fas fa-users"></i>Family</a>
                    <a href="#"><i class="fas fa-users"></i>Friends</a>
                  </nav>
                </aside>
                <main class="main-drawer">
                  <header class="header-drawer">
                    <h1>UFC MAIL</h1>
                  </header>
                  <section>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo
                    provident, ad esse recusandae, minus repellendus quia iste suscipit
                    cumque est. Nobis ullam deserunt deleniti facilis obcaecati? Ducimus,
                    nobis pariatur! Culpa iusto, recusandae enim repudiandae eum aliquid?
                    Ut, voluptatibus eveniet eos neque aliquam, nulla molestiae velit
                    numquam repellendus fugit commodi nemo assumenda laudantium
                    consequuntur perferendis. Eos voluptatem nesciunt a ut. Magni esse
                    obcaecati qui. Harum laborum, quidem culpa dolor nisi a in enim quos
                    nemo accusamus nihil voluptatem? Necessitatibus animi, reiciendis
                    error optio soluta eum est impedit rem nulla eaque. Ab ullam repellat
                    distinctio voluptate reprehenderit, sint, aliquam neque assumenda ipsa
                    dolorum tempora, odio voluptatem consequatur quae iure! Saepe cumque
                    est eaque assumenda veniam deserunt iusto incidunt impedit! Quidem,
                    omnis? Illo, consectetur harum impedit, libero dolorum facere ipsa
                    quia neque possimus commodi necessitatibus, reiciendis tempora.
                    Impedit consectetur tempora voluptas est maiores temporibus totam
                    adipisci modi, debitis ea tempore velit! Doloribus. Aut ea harum atque
                    et maiores optio expedita quam consectetur dicta doloribus! Laborum
                    enim omnis dicta accusamus, iste inventore odit tempora, nostrum
                    maiores consequuntur alias, consequatur praesentium odio facilis quia?
                    Doloremque quam corporis natus fugit error at deleniti architecto rem,
                    itaque voluptates numquam alias velit quo a cumque! Totam laborum,
                    tenetur necessitatibus error amet repellendus quam sunt id debitis
                    vel. Nemo sequi earum qui hic at culpa necessitatibus quisquam,
                    aliquam tempore porro! Saepe, quo odit harum numquam eveniet fugit
                    possimus quisquam laborum, labore esse, culpa error. Iusto dolore
                    natus vitae? Aperiam corrupti cum corporis facere voluptatibus,
                    dolore, beatae atque qui placeat unde ullam exercitationem quia
                    impedit, voluptas dolorum blanditiis quae! Quod dolor maiores minima
                    illum error consequatur vel fugiat hic! Aut ducimus quaerat similique
                    maiores pariatur omnis expedita doloremque possimus explicabo fuga
                    officiis culpa, quae optio veritatis iusto consequatur! Adipisci
                    similique hic porro, deleniti inventore totam facilis cupiditate
                    numquam natus. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Ea, commodi voluptatem. Porro possimus facilis, adipisci esse
                    dolor maxime, amet eius perferendis debitis doloribus molestiae
                    incidunt! Deleniti, ad odit? Nulla, placeat!
                  </section>
                </main>
            </div>    
        </div>


        <pre class="html">
<code >
//Basic Drawer:

&lt;div class="drawer">
&lt;aside class="aside-drawer">
&lt;div class="mail-heading">
&lt;h2>UFC Mail&lt;/h2>
&lt;p>UFC@gmail.com&lt;/p>
&lt;/div>
&lt;nav class="nav-drawer">
&lt;a class="sel" href="#">&lt;i class="fas fa-inbox">&lt;/i>Inbox&lt;/a>
&lt;a href="#">&lt;i class="fas fa-inbox">&lt;/i>Star&lt;/a>
&lt;a href="#">&lt;i class="fas fa-paper-plane">&lt;/i>Sent&lt;/a>
&lt;a href="#">&lt;i class="fas fa-envelope-open">&lt;/i>Drafts&lt;/a>
&lt;br />
&lt;p>Labels&lt;/p>
&lt;a href="#">&lt;i class="fas fa-users">&lt;/i>Family&lt;/a>
&lt;a href="#">&lt;i class="fas fa-users">&lt;/i>Friends&lt;/a>
&lt;/nav>
&lt;/aside>
&lt;main class="main-drawer">
&lt;header class="header-drawer">
&lt;h1>UFC MAIL&lt;/h1>
&lt;/header>
&lt;section>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo
provident, ad esse recusandae, minus repellendus quia iste suscipit
cumque est. Nobis ullam deserunt deleniti facilis obcaecati? Ducimus,
nobis pariatur! Culpa iusto, recusandae enim repudiandae eum aliquid?
Ut, voluptatibus eveniet eos neque aliquam, nulla molestiae velit
numquam repellendus fugit commodi nemo assumenda laudantium
consequuntur perferendis. Eos voluptatem nesciunt a ut. Magni esse
obcaecati qui. Harum laborum, quidem culpa dolor nisi a in enim quos
nemo accusamus nihil voluptatem? Necessitatibus animi, reiciendis
error optio soluta eum est impedit rem nulla eaque. Ab ullam repellat
distinctio voluptate reprehenderit, sint, aliquam neque assumenda ipsa
dolorum tempora, odio voluptatem consequatur quae iure! Saepe cumque
&lt;/section>
&lt;/main>
&lt;/div>    
</div>   
</code></pre>





       




                </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
    <script src="./Drawer.js"></script>
    
</body>

</html>
