<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rating</title>

    <link rel="stylesheet" href="./Rating.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css"
        integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="navBar">
        <div class="navBar-img">
            <a class="link3" href="../../landingPage/landingPage.html"></a>
          <svg
            class="site-logo"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 122 26"
          >
            <path
              d="M39.78 4.19H25.655L26.83 0h14.12l-1.17 4.19zm-9.57 7.078h7.588l1.172-4.19H24.849L21.5 19.043h6.534l2.175-7.776.001.001zm16.017 3.445a.62.62 0 01-.322-.386.568.568 0 01.008-.286l2.559-9.145a.836.836 0 01.39-.55c.304-.126.634-.18.963-.158h7.053L58.052 0H48.16c-1.8 0-3.056.21-3.789.615-.733.405-1.239 1.115-1.531 2.163l-3.656 13.04a2.637 2.637 0 00-.093.569c-.01.195.008.39.055.581a2.436 2.436 0 001.26 1.52 5.12 5.12 0 002.491.556h10.35l1.187-4.188h-7.576a1.28 1.28 0 01-.636-.143h.005zM7.202 0L2.775 15.818a2.635 2.635 0 00-.095.57c-.01.195.01.39.055.58a2.435 2.435 0 001.271 1.518 5.084 5.084 0 002.489.558h7.364c1.8 0 3.059-.21 3.79-.613.73-.403 1.238-1.117 1.53-2.166L23.724 0H17.19l-3.96 14.148a.836.836 0 01-.39.55c-.305.126-.634.18-.963.156h-1.125c-.22.007-.44-.041-.635-.14a.635.635 0 01-.32-.387.575.575 0 01.008-.286L13.732 0h-6.53zM.81 23.055L0 25.942h51.371l.807-2.887H.81z"
              fill="#CD1421"
            ></path>
          </svg>
        </div>
        <div class="navBar-content">
          <div class="link-icon">
            <a class="link2" href="#"></a>
            <span class="material-icons-outlined"> assignment </span>
          </div>
          <div id="light">
            <span class="material-icons-outlined"> light_mode </span>
          </div>
          <div id="dark">
            <span class="material-icons-outlined"> dark_mode </span>
          </div>
          <div id="comp-list">
            <span class="material-icons-outlined"> reorder </span>
          </div>
        </div>
      </div>
  
    <main class="homepage">
        <aside class="sidebar">
            <div class="list1">
              <ul class="list1-ul">
                <li>
                  <h2 class="list-header">Components</h2>
                </li>
                <li>
                  <a class="link" id="li" href="../colors/colors.html">Colors</a>
                </li>
                <li>
                  <a class="link" id="li" href="../Typography/Typography.html"
                    >Typography</a
                  >
                </li>
                <li>
                  <a class="link" id="li" href="../Avatar/Avatar.html">Avatar</a>
                </li>
                <li>
                  <a class="link" id="li" href="../Alert/Alert.html"
                    >Alert</a
                  >
                </li>
                <li>
                  <a class="link" id="li" href="../Badge/Badge.html">Badge</a>
                </li>
                <l1
                  ><a class="link" id="li" href="../Button/Button.html"
                    >Button</a
                  ></l1
                >
                <l1><a class="link" id="li" href="../Card/Card.html">Card</a></l1>
                <l1
                  ><a class="link" id="li" href="../Image/image.html">Image</a></l1
                >
                <l1
                  ><a class="link" id="li" href="../input/Input.html">Input</a></l1
                >
                <li><a class="link" id="li" href="../List/List.html">List</a></li>
                <li>
                  <a class="link" id="li" href="../Navigation/Navigation.html"
                    >Navigation</a
                  >
                </li>
                <li>
                  <a class="link" id="li" href="../Modal/Modal.html">Modal</a>
                </li>
                <li>
                  <a class="link select" id="li" href="../Rating/Rating.html">Rating</a>
                </li>
                <li>
                  <a class="link" id="li" href="../Toast/Toast.html">Toast</a>
                </li>
                <li><a class="link" id="li" href="../Grid/Grid.html">Grid</a></li>
                <li>
                  <a class="link" id="li" href="../Slider/Slider.html">Slider</a>
                </li>
                <li>
                  <a class="link" id="li" href="../Drawer/Drawer.html">Drawer</a>
                </li>
                <li>
                  <a class="link" id="li" href="../Chips/Chips.html">Chips</a>
                </li>
              </ul>
            </div>
          </aside>
        <div class="main-container">
            <div class="component-header">
                <h1>Rating</h1>
                <p>
                    Ratings provide insight regarding others' opinions and experiences, and can allow the user to submit a rating of their own.                </p>
            </div>

            <!--Star Rating-->

            <div class="component">
                <h2>Star Rating</h2>
                <p>
                    Star Rating that you can embed in your website by using class "rating".
                </p>
                <div class="component-container">
                   <div class="rating">
                    <i class="fas fa-star rating-color"></i>
                    <i class="fas fa-star rating-color"></i>
                    <i class="fas fa-star rating-color"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                   </div>
                </div>


                <pre class="html">
    <code >
//Star Rating:

&lt;div class=&quot;rating&quot;&gt;
&lt;i class=&quot;fas fa-star rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star&quot;&gt;&lt;/i&gt;
&lt;/div&gt;     
</code></pre>


            <!--Sizes Rating-->

            <div class="component">
                <h2>Sizes Rating</h2>
                <p>
                    Different sizes of rating that you can use in you website by usind classes like "sm","lg","md" for small , large , medium respectively.
                </p>
                <div class="component-container">
                   <div class="rating">
                    <i class="fas fa-star rating-color sm"></i>
                    <i class="fas fa-star rating-color lg"></i>
                    <i class="fas fa-star rating-color md"></i>
                   </div>
                </div>


                <pre class="html">
    <code >
//Sizes Rating:

&lt;div class=&quot;rating&quot;&gt;
&lt;i class=&quot;fas fa-star rating-color sm&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star rating-color lg&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-star rating-color md&quot;&gt;&lt;/i&gt;
&lt;/div&gt;      
</code></pre>



            <!--Emoji Rating-->

            <div class="component">
                <h2>Emoji Rating</h2>
                <p>
                    Emoji Rating that you can use in your website.
                </p>
                <div class="component-container">
                   <div class="rating">
                    <i class="fas fa-frown-open emoji rating-color"></i>
                    <i class="fas fa-frown emoji rating-color"></i>
                    <i class="fas fa-meh emoji rating-color"></i>
                    <i class="fas fa-smile emoji"></i>
                    <i class="fas fa-laugh emoji"></i>
                   </div>
                </div>


                <pre class="html">
    <code >
//Emoji Rating:

&lt;div class=&quot;rating&quot;&gt;
&lt;i class=&quot;fas fa-frown-open emoji rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-frown emoji rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-meh emoji rating-color&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-smile emoji&quot;&gt;&lt;/i&gt;
&lt;i class=&quot;fas fa-laugh emoji&quot;&gt;&lt;/i&gt;
&lt;/div&gt;   
</code></pre>


                

                



                </div>
    </main>
    <div class="footer">
      <i class="fab fa-twitter"><a target="_blank" class="link2"  href="https://mobile.twitter.com/Srinibas_39"></a> </i>
      <i class="fab fa-linkedin"><a target="_blank" class="link2"href="https://www.linkedin.com/in/srinibas-khuntia-bbb496154/"></a> </i>
      <i class="fab fa-github"><a target="_blank" class="link2" href="https://github.com/srinibas39"></a> </i>
  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
        integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>hljs.highlightAll();</script>
    <script src="./list.js"></script>
    <script src="../../script.js"></script>
   <script src="https://kit.fontawesome.com/1003df6d85.js" crossorigin="anonymous"></script>

</body>

</html>