* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
:root {
  --primary-color: #ff3b30;
  --secondary-color: white;
  --primary-font-family: "Montserrat", sans-serif;
  --component-color: #f3f4f6;
  --code-color: #1f2937;
}
body {
  font-family: var(--primary-font-family);
}
.navbar {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  padding: 2rem;
  height: 14vh;
}
.ul-navbar {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 30%;
  justify-content: space-evenly;
}
.ul-navbar > * {
  cursor: pointer;
}
.homepage {
  display: flex;
}
.sidebar {
  width: 20%;
  padding: 2rem;
  height: 86vh;
}
.list1 {
  height: 100%;
}
.list1-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.list1-ul > * {
  cursor: pointer;
}
.list-header {
  margin: 0.5rem 0;
}
.main-container {
  padding: 2rem;
}
.component-header > * {
  margin: 0.5rem 0;
}

.component > * {
  margin: 1.5rem 0;
}
.component-container {
  display: flex;
  justify-content: space-evenly;
  height: 10rem;
  align-items: center;
  background-color: var(--component-color);
  box-shadow: 0px 0px 10px 2px #aaa;
  flex-direction: column;
}
.html {
  display: flex;
  justify-content: space-evenly;
  height: 12rem;
  align-items: center;
  background-color: var(--code-color);
  box-shadow: 0px 0px 10px 2px var(--code-color);
  color: var(--secondary-color);
}

.select {
  color: var(--primary-color);
}

.badge-icon {
  height: 2rem;
  width: 2rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 0.5rem;
  left: 17rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
}
.h1 {
  margin: 2rem;
}
.badge {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.large-badge {
  height: 4rem;
  width: 4rem;
  background-color: var(--primary-color);
  position: absolute;
  top: -1.2rem;
  left: 17rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
}
.button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
}
.button-badge {
  height: 2rem;
  width: 2rem;
  background-color: var(--primary-color);
  position: absolute;
  top: -1.5rem;
  left: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  font-weight: bold;
}

.height {
  height: 23rem;
}
i {
  font-size: 2rem;
}

.icon-badge{
    height: 2rem;
    width: 2rem;
    background-color: var(--primary-color);
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-weight: bold;
}