* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  :root {
    --primary-color: #ff3b30;
    --secondary-color: white;
    --primary-font-family: "Montserrat", sans-serif;
    --component-color: #f3f4f6;
    --code-color: #1f2937;
  }
  body {
    font-family: var(--primary-font-family);
  }
  .navbar {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    padding: 2rem;
    height: 14vh;
    align-items: center;
  }
  .ul-navbar {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40%;
    justify-content: space-evenly;
  }
  .ul-navbar > * {
    cursor: pointer;
  }
  .homepage {
    display: flex;
  }
  .sidebar {
    width: 20%;
    padding: 2rem;
    height: 86vh;
  }
  .list1 {
    height: 100%;
  }
  .list1-ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }
  .list1-ul > * {
    cursor: pointer;
  }
  .list-header {
    margin: 0.5rem 0;
  }
  .main-container {
    padding: 2rem;
  }
  .component-header > * {
    margin: 0.5rem 0;
  }
  
  .component > * {
    margin: 1.5rem 0;
  }
  .component-container {
    display: flex;
    justify-content: space-evenly;
    height: 20rem;
    align-items: center;
    background-color: var(--component-color);
    box-shadow: 0px 0px 10px 2px #aaa;
    flex-direction: column;
  }
  .html {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--code-color);
    box-shadow: 0px 0px 10px 2px var(--code-color);
    color: var(--secondary-color);
    padding: 2rem;
  }
  
  /* .navbar span{
       display: none;
   } */
  .homepage{
      font-size: 85%;
  } 
  
  .select {
    color: var(--primary-color);
  }

  /* Modal Css */
  .dialog-container{

    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    
   
   
}
.dialog{
    background-color: var(--secondary-color);
    height: 22vh;
    width: 48vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.buttons{
    margin-left: auto;
    
}
.action-btn{
    padding: 0.5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0.5rem;
    cursor: pointer;
}

.buttons2{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.dialog2{
   height: 26vh;
   width: 50vw;
}

.dialog-ul  li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
   
  }
.dialog-ul{
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .sel{
    position: relative;
    right: 2px;
    background-color: #fecaca;
  }