<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alert</title>
    <link rel="stylesheet" href="./homepage.css" />
    <link rel="stylesheet" href="./Alert.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Outfit:wght@100&family=Roboto:wght@100&family=Shalimar&family=Yuji+Boku&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
  />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/an-old-hope.min.css"
      integrity="sha512-t47CjkEB5hx4FojnE73dBLwgrgvLBpgsHvB40ycK3cYPkLwEp7qNHyRpRDA3/zVVAAOUPJwbMVJq3uJrBqpHVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="navBar">
      <div class="navBar-img">
        <a class="link3" href="../../landingPage/landingPage.html"></a>
        <svg
          class="site-logo"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 122 26"
        >
          <path
            d="M39.78 4.19H25.655L26.83 0h14.12l-1.17 4.19zm-9.57 7.078h7.588l1.172-4.19H24.849L21.5 19.043h6.534l2.175-7.776.001.001zm16.017 3.445a.62.62 0 01-.322-.386.568.568 0 01.008-.286l2.559-9.145a.836.836 0 01.39-.55c.304-.126.634-.18.963-.158h7.053L58.052 0H48.16c-1.8 0-3.056.21-3.789.615-.733.405-1.239 1.115-1.531 2.163l-3.656 13.04a2.637 2.637 0 00-.093.569c-.01.195.008.39.055.581a2.436 2.436 0 001.26 1.52 5.12 5.12 0 002.491.556h10.35l1.187-4.188h-7.576a1.28 1.28 0 01-.636-.143h.005zM7.202 0L2.775 15.818a2.635 2.635 0 00-.095.57c-.01.195.01.39.055.58a2.435 2.435 0 001.271 1.518 5.084 5.084 0 002.489.558h7.364c1.8 0 3.059-.21 3.79-.613.73-.403 1.238-1.117 1.53-2.166L23.724 0H17.19l-3.96 14.148a.836.836 0 01-.39.55c-.305.126-.634.18-.963.156h-1.125c-.22.007-.44-.041-.635-.14a.635.635 0 01-.32-.387.575.575 0 01.008-.286L13.732 0h-6.53zM.81 23.055L0 25.942h51.371l.807-2.887H.81z"
            fill="#CD1421"
          ></path>
        </svg>
      </div>
      <div class="navBar-content">
        
        <div class="link-icon">
          <a class="link2" href="#"></a>
            <span class="material-icons-outlined ">
              assignment
              </span>
      </div>
        <div id="light">
          <span class="material-icons-outlined">
              light_mode
              </span>
        </div>
        <div id="dark" >
          <span class="material-icons-outlined">
              dark_mode
              </span>
        </div>
        <div id="comp-list">
            
            <span class="material-icons-outlined">
              reorder
              </span>
              
      </div>
  
    </div>
  </div>
    <main class="homepage">
      <aside class="sidebar">
        <div class="list1">
            <ul class="list1-ul">
                <!-- <li>
                    <h2 class="list-header">Get started</h2>
                </li>
                <li><a class="link" id="li" href="../colors/colors.html">Introduction</a></li> -->
                <li>
                    <h2 class="list-header">Components</h2>
                </li>
                <li><a class="link" id="li" href="../colors/colors.html">Colors</a></li>
                <li><a class="link" id="li" href="../Typography/Typography.html">Typography</a></li>
                <li><a class="link" id="li" href="../Avatar/Avatar.html">Avatar</a></li>
                <li><a class="link select" id="li" href="../Alert/Alert.html">Alert</a></li>
                <li><a class="link" id="li" href="../Badge/Badge.html">Badge</a></li>
                <l1><a class="link" id="li" href="../Button/Button.html">Button</a></l1>
                <l1><a class="link" id="li" href="../Card/Card.html">Card</a></l1>
                <l1><a class="link" id="li" href="../Image/image.html">Image</a></l1>
                <l1><a class="link" id="li" href="../input/Input.html">Input</a></l1>
                <li><a class="link" id="li" href="../List/List.html">List</a></li>
                <li><a class="link" id="li" href="../Navigation/Navigation.html">Navigation</a></li>
                <li><a class="link" id="li" href="../Modal/Modal.html">Modal</a></li>
                <li><a class="link" id="li" href="../Rating/Rating.html">Rating</a></li>
                <li><a class="link" id="li" href="../Toast/Toast.html">Toast</a></li>
                <li><a class="link" id="li" href="../Grid/Grid.html">Grid</a></li>
                <li><a class="link" id="li" href="../Slider/Slider.html">Slider</a></li>
                <li><a class="link" id="li" href="../Drawer/Drawer.html">Drawer</a></li>
                <li><a class="link" id="li" href="../Chips/Chips.html">Chips</a></li>
            </ul>
        </div>
    </aside>

      <div class="main-container">
        <div class="component-header">
          <h1>Alert</h1>
          <p>
            An alert displays a short, important message in a way that attracts
            the user's attention without interrupting the user's task.
          </p>
        </div>

        <!-- Basic Alert -->

        <div class="component">
          <h2>Basic Alerts</h2>
          <p>
            The alert offers four severity levels that set a distinctive icon
            and color.
          </p>
          <div class="component-container">
            <!-- error -->
            <div class="alert alert-error">
              <div class="alert-icon">
                <span class="material-icons">error_outline</span>
              </div>
              <div class="alert-text error-text">
                This is an error alert — check it out!
              </div>
            </div>
            <!--warning -->
            <div class="alert alert-warning">
              <div class="alert-icon">
                <span class="material-icons">warning_amber</span>
              </div>
              <div class="alert-text warning-text">
                This is a warning alert — check it out!
              </div>
            </div>
            <!-- info alert -->
            <div class="alert alert-info">
              <div class="alert-icon">
                <span class="material-icons">info</span>
              </div>
              <div class="alert-text info-text">
                This is an info alert — check it out!
              </div>
            </div>
            <!-- success alert -->
            <div class="alert alert-success">
              <div class="alert-icon">
                <span class="material-icons">check_circle</span>
              </div>
              <div class="alert-text success-text">
                This is a success alert — check it out!
              </div>
            </div>
          </div>
        </div>

        <pre class="html">
<code class="code">
&lt;!-- error --&gt;
&lt;div class=&quot;alert alert-error&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;error_outline&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text error-text&quot;&gt;
    This is an error alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!--warning --&gt;
&lt;div class=&quot;alert alert-warning&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;warning_amber&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text warning-text&quot;&gt;
    This is a warning alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- info alert --&gt;
&lt;div class=&quot;alert alert-info&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;info&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text info-text&quot;&gt;
    This is an info alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- success alert --&gt;
&lt;div class=&quot;alert alert-success&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;check_circle&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text success-text&quot;&gt;
    This is a success alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

        <!-- Alert with Description -->
        <div class="component">
          <h2>Description Alerts</h2>
          <p>
            The alert offers four severity levels that set a distinctive icon
            and color with description.
          </p>
          <div class="component-container">
            <!-- error -->
            <div class="description alert-error">
              <div class="alert-icon">
                <span class="material-icons">error_outline</span>Error
              </div>
              <div class="alert-text error-text">
                This is an error alert — check it out!
              </div>
            </div>
            <!--warning -->
            <div class="description alert-warning">
              <div class="alert-icon">
                <span class="material-icons">warning_amber</span>warning
              </div>
              <div class="alert-text warning-text">
                This is a warning alert — check it out!
              </div>
            </div>
            <!-- info alert -->
            <div class="description alert-info">
              <div class="alert-icon">
                <span class="material-icons">info</span>Info
              </div>
              <div class="alert-text info-text">
                This is an info alert — check it out!
              </div>
            </div>
            <!-- success alert -->
            <div class="description alert-success">
              <div class="alert-icon">
                <span class="material-icons">check_circle</span>success
              </div>
              <div class="alert-text success-text">
                This is a success alert — check it out!
              </div>
            </div>
          </div>
        </div>
        <pre class="html">
<code class="code">
&lt;!--Error --&gt;
  &lt;div class=&quot;description alert-error&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;error_outline&lt;/span&gt;Error
  &lt;/div&gt;
  &lt;div class=&quot;alert-text error-text&quot;&gt;
    This is an error alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!--warning --&gt;
&lt;div class=&quot;description alert-warning&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;warning_amber&lt;/span&gt;warning
  &lt;/div&gt;
  &lt;div class=&quot;alert-text warning-text&quot;&gt;
    This is a warning alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- info alert --&gt;
&lt;div class=&quot;description alert-info&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;info&lt;/span&gt;Info
  &lt;/div&gt;
  &lt;div class=&quot;alert-text info-text&quot;&gt;
    This is an info alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- success alert --&gt;
&lt;div class=&quot;description alert-success&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;check_circle&lt;/span&gt;success
  &lt;/div&gt;
  &lt;div class=&quot;alert-text success-text&quot;&gt;
    This is a success alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

        <!-- Outlined Alert -->

        <div class="component">
          <h2>Outlined Alerts</h2>
          <p>
            The alert offers four severity levels that set a distinctive icon
            and outlined color.
          </p>
          <div class="component-container">
            <!-- error -->
            <div class="alert outlined-error">
              <div class="alert-icon">
                <span class="material-icons">error_outline</span>
              </div>
              <div class="alert-text">
                This is an error alert — check it out!
              </div>
            </div>
            <!--warning -->
            <div class="alert outlined-warning">
              <div class="alert-icon">
                <span class="material-icons">warning_amber</span>
              </div>
              <div class="alert-text">
                This is a warning alert — check it out!
              </div>
            </div>
            <!-- info alert -->
            <div class="alert outlined-info">
              <div class="alert-icon">
                <span class="material-icons">info</span>
              </div>
              <div class="alert-text">
                This is an info alert — check it out!
              </div>
            </div>
            <!-- success alert -->
            <div class="alert outlined-success">
              <div class="alert-icon">
                <span class="material-icons">check_circle</span>
              </div>
              <div class="alert-text">
                This is a success alert — check it out!
              </div>
            </div>
          </div>
        </div>

        <pre class="html">
  <code class="code">
    &lt;!-- error --&gt;
    &lt;div class=&quot;alert outlined-error&quot;&gt;
      &lt;div class=&quot;alert-icon&quot;&gt;
        &lt;span class=&quot;material-icons&quot;&gt;error_outline&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;alert-text&quot;&gt;
        This is an error alert — check it out!
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!--warning --&gt;
    &lt;div class=&quot;alert outlined-warning&quot;&gt;
      &lt;div class=&quot;alert-icon&quot;&gt;
        &lt;span class=&quot;material-icons&quot;&gt;warning_amber&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;alert-text&quot;&gt;
        This is a warning alert — check it out!
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- info alert --&gt;
    &lt;div class=&quot;alert outlined-info&quot;&gt;
      &lt;div class=&quot;alert-icon&quot;&gt;
        &lt;span class=&quot;material-icons&quot;&gt;info&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;alert-text&quot;&gt;
        This is an info alert — check it out!
      &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- success alert --&gt;
    &lt;div class=&quot;alert outlined-success&quot;&gt;
      &lt;div class=&quot;alert-icon&quot;&gt;
        &lt;span class=&quot;material-icons&quot;&gt;check_circle&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class=&quot;alert-text&quot;&gt;
        This is a success alert — check it out!
      &lt;/div&gt;
    &lt;/div&gt;</code></pre>

        <!-- Filled Alert -->
        <div class="component">
          <h2>Filled Alerts</h2>
          <p>
            The alert offers four severity levels that set a distinctive icon
            and filled color.
          </p>
          <div class="component-container">
            <!-- error -->
            <div class="alert filled-error">
              <div class="alert-icon">
                <span class="material-icons">error_outline</span>
              </div>
              <div class="alert-text">
                This is an error alert — check it out!
              </div>
            </div>
            <!--warning -->
            <div class="alert filled-warning">
              <div class="alert-icon">
                <span class="material-icons">warning_amber</span>
              </div>
              <div class="alert-text">
                This is a warning alert — check it out!
              </div>
            </div>
            <!-- info alert -->
            <div class="alert filled-info">
              <div class="alert-icon">
                <span class="material-icons">info</span>
              </div>
              <div class="alert-text">
                This is an info alert — check it out!
              </div>
            </div>
            <!-- success alert -->
            <div class="alert filled-success">
              <div class="alert-icon">
                <span class="material-icons">check_circle</span>
              </div>
              <div class="alert-text">
                This is a success alert — check it out!
              </div>
            </div>
          </div>
        </div>

        <pre class="html">
<code class="code">
&lt;!-- error --&gt;
&lt;div class=&quot;alert filled-error&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;error_outline&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text&quot;&gt;
    This is an error alert — check it out!
  &lt;/div&gt;
&lt;/div&gt; 

&lt;!--warning --&gt;
&lt;div class=&quot;alert filled-warning&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;warning_amber&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text&quot;&gt;
    This is a warning alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- info alert --&gt;
&lt;div class=&quot;alert filled-info&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;info&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text&quot;&gt;
    This is an info alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;

&lt;!-- success alert --&gt;
&lt;div class=&quot;alert filled-success&quot;&gt;
  &lt;div class=&quot;alert-icon&quot;&gt;
    &lt;span class=&quot;material-icons&quot;&gt;check_circle&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;alert-text&quot;&gt;
    This is a success alert — check it out!
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
      </div>
    </main>
    <div class="footer">
      <i class="fab fa-twitter"><a target="_blank" class="link2"  href="https://mobile.twitter.com/Srinibas_39"></a> </i>
      <i class="fab fa-linkedin"><a target="_blank" class="link2"href="https://www.linkedin.com/in/srinibas-khuntia-bbb496154/"></a> </i>
      <i class="fab fa-github"><a target="_blank" class="link2" href="https://github.com/srinibas39"></a> </i>
  </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"
      integrity="sha512-IaaKO80nPNs5j+VLxd42eK/7sYuXQmr+fyywCNA0e+C6gtQnuCXNtORe9xR4LqGPz5U9VpH+ff41wKs/ZmC3iA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../script.js"></script>
    <script src="https://kit.fontawesome.com/1003df6d85.js" crossorigin="anonymous"></script>
  </body>
</html>
